.root {
	background-color: #444;
	border-bottom: 1px solid #333;
}

.container {
	display: flex;
	flex-direction: row;
}

.links {
	list-style-type: none;
	padding-inline-start: 0;
	margin-block-start: 0;
	margin-block-end: 0;
}

.link {
	display: flex;
}

.link > a {
	padding: 0.5rem 1rem;
	text-decoration: none;
	color: white;
	font-weight: bold;
}

.link:hover {
	background-color: #888;
}

.secondary {
	margin-left: auto;
}
