.root {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}

.progress {
	font-size: 2rem;
}

.correct {
	margin-left: auto;
	background-color: lightgreen;
	border: 2px solid green;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 10rem;
	padding: 0.5rem;
	box-shadow: 4px 4px rgba(0 255 0 / 20%);
}

.wrong {
	margin-left: 2rem;
	background-color: pink;
	border: 2px solid red;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 10rem;
	padding: 0.5rem;
	box-shadow: 4px 4px rgba(255 0 0 / 20%);
}

.number {
	font-size: 2rem;
	font-weight: bold;
}

.label {
	font-size: small;
}

.layout {
	margin-left: auto;
	margin-right: auto;
	width: 1920px;
}

@media screen and (max-width: 1279px) {
	.progress {
		flex: 2;
	}

	.correct {
		flex: 1;
	}

	.wrong {
		flex: 1;
	}
}
